<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Add Review</title>
    <link rel="stylesheet" th:href="@{/styles/star.css}">
</head>
<body class="text-center">
<div layout:fragment="content">
    <form class="form-signin" th:action="@{/addReview}" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Add a review</h1>

        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" name="bookTitle" id="inputTitle" class="form-control" placeholder="Title" required="required" />


        <textarea rows="4" cols="50" name="description" id="inputDescription" class="form-control" placeholder="Description" required="required"></textarea>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Review</button>
    </form>

</div>
</body>
</html>