<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link th:href="@{/styles/signin.css}" rel="stylesheet">
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="text-center flex-column">
<div th:replace="~{fragments/headerAdmin :: header}">...</div>
<div class="form-signin w-100 m-auto">

    <form  th:action="@{/addBook}" method="post">

        <h1 class="h3 mb-3 fw-normal">Add a new book</h1>
        <div class="form-floating">
            <input type="text" name="bookTitle" id="inputTitle" class="form-control" placeholder="Title" required="required" />
            <label for="inputTitle" class="sr-only">Title</label>
        </div>
        <div class="form-floating">
            <input type="text" name="authors" id="inputAuthors" class="form-control" placeholder="Authors" required="required" />
            <label for="inputAuthors" class="sr-only">Authors</label>
        </div>
        <div class="form-floating">
            <input type="text" name="categories" id="inputCategories" class="form-control" placeholder="Categories" required="required" />
            <label for="inputCategories" class="sr-only">Categories</label>
        </div>
        <div class="form-floating">
            <input type="text" name="publisher" id="inputPublisher" class="form-control" placeholder="Publisher" required="required" />
            <label for="inputPublisher" class="sr-only">Publisher</label>
        </div>
        <div class="form-floating">
            <input type="number" th:min="0" name="copies" id="inputCopies" class="form-control" placeholder="0" required="required" />
            <label for="inputCopies" class="sr-only">Copies</label>
        </div>
        <div class="form-floating">
            <input type="date" name="publishDate" id="inputDate" class="form-control" placeholder="Publish date" required="required" />
            <label for="inputDate" class="sr-only">Publish Date</label>
        </div>
        <div class="form-floating">
            <textarea rows="4" cols="50" name="description" id="inputDescription" class="form-control" placeholder="Description" required="required"></textarea>
            <label for="inputDescription" class="sr-only">Description</label>
        </div>

        <br/>
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Add Book</button>
    </form>

    <span class="mb-5" th:if="${info == 'addBook'}" th:text="${infoMessage}" style="color: green">...</span>
    <span class="mb-5" th:if="${info == 'error'}" th:text="${infoMessage}" style="color: red">...</span>

</div>
</body>
</html>