<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Panel</title>
  <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/styles/signin.css}" rel="stylesheet">
</head>




<body class="text-center flex-column">

<div th:replace="~{fragments/headerAdmin :: header}">...</div>

<h1>Analytics</h1>

 <div style="border: 1px solid black; padding: 1em">

    <form th:action="@{'/viewAnalytic?numberAnalytic=1'}" method="post">
      <label> Most borrowed books from</label>
      <input type="date"  name="startDate" />
        <label class="m-2">to</label>
      <input type="date"  name="endDate" />
        <label class="m-2">by people born from</label>
        <input type="number"  name="startYear" />
        <label class="m-2">to</label>
        <input type="number"  name="endYear" />
      <button class=" btn btn-sm btn-primary mb-4" type="submit">Go</button>
    </form>
    <form th:action="@{'/viewAnalytic?numberAnalytic=2'}" method="post">
      <label>Average number of borrowed books by nationality from</label>
        <input type="date"  name="startDate" />
        <label class="m-2">to</label>
        <input type="date"  name="endDate" />
      <button class=" btn btn-sm btn-primary mb-4" type="submit">Go</button>
    </form>
    <form th:action="@{'/viewAnalytic?numberAnalytic=3'}" method="post">
      <label>Users that wrote the most liked reviews from</label>
        <input type="date"  name="startDate" />
        <label class="m-2">to</label>
        <input type="date"  name="endDate" />
        <label class="m-2">with score</label>
        <input type="number" th:default="5.0" name="score" placeholder="5.0">
      <button class=" btn btn-sm btn-primary mb-4" type="submit">Go</button>
    </form>
    <form th:action="@{'/viewAnalytic?numberAnalytic=4'}" method="post">
      <label>Books with the highest average number of likes by review from</label>
        <input type="date"  name="startDate" />
        <label class="m-2">to</label>
        <input type="date"  name="endDate" />
      <button class=" btn btn-sm btn-primary mb-4" type="submit">Go</button>
    </form>

  </div>

<th:block th:if="${analytics == 'ok'}">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Result</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="result : ${results}">
                        <td th:text="${result.key}">Key</td>
                        <td th:text="${result.value}">Value</td>
                    </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging mb-3">
                <ul class="pagination">
                    <li class="page-item" th:unless="${pageNumber.intValue() <= 1}">
                        <form th:action="@{'/viewAnalytic?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&startYear=' + ${startYear} + '&endYear=' + ${endYear} + '&pageNumber=' + ${pageNumber - 1} + '&score=' + ${score} + '&numberAnalytic=' + ${numAnalytic}}" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-primary">Previous</button>
                        </form>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" th:href="@{'/viewAnalytic?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&startYear=' + ${startYear} + '&endYear=' + ${endYear} + '&pageNumber=' + ${pageNumber} + '&score=' + ${score} + '&numberAnalytic=' + ${numAnalytic}}"
                           th:text="${pageNumber}"></a>
                    </li>

                    <li class="page-item">
                        <form th:action="@{'/viewAnalytic?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&startYear=' + ${startYear} + '&endYear=' + ${endYear} + '&pageNumber=' + ${pageNumber + 1} + '&score=' + ${score} + '&numberAnalytic=' + ${numAnalytic}}" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-primary">Next</button>
                        </form>
                    </li>
                    <li>
                        <form style="margin-left: 1em" th:action="@{'/viewAnalytic?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&startYear=' + ${startYear} + '&endYear=' + ${endYear} + '&score=' + ${score} + '&numberAnalytic=' + ${numAnalytic}}" method="post">
                            <label for="page">Go to page</label>
                            <input class="input-group-sm" type="number" name="pageNumber" id="page"/>
                            <button type="submit" class="btn btn-sm btn-primary">Go</button>
                        </form>
                    </li>
                </ul>


            </nav>
        </div>
    </div>
</th:block>
</body>
</html>