<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/signin.css}" rel="stylesheet">
</head>


<body class="text-center flex-column">

<div th:replace="~{fragments/headerUser :: header}">...</div>


<main class="list-group-horizontal-md w-200 m-auto">

    <img class="mb-5" th:src="@{/images/pngegg.png}" alt="logo" width="5%">

    <h5 th:text="${infoUser.username}"></h5>
    <p th:text="${infoUser.email}"></p>

    <div class="row mt-5">
        <div class="col-lg-5 m-auto">
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th>Followed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="follower : ${followed}">
                    <td><a th:href="@{/profile{username}(username=${follower})}" th:text="${follower}" style="color: black"></a></td>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-lg-5 m-auto">
            <table  class="table table-bordered" >
                <thead>
                <tr>
                    <th>Followers</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="follower : ${followers}">
                    <td><a th:href="@{/profile{username}(username=${follower})}" th:text="${follower}" style="color: black"></a></td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>


</main>

</body>
</html>