<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reading List</title>
  <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="text-center flex-column">

  <th:block th:if="${userClass == 'admin'}">
    <div th:replace="~{fragments/headerAdmin :: header}">...</div>
  </th:block>
  <th:block th:if="${userClass == 'customer'}">
    <div th:replace="~{fragments/headerUser :: header}">...</div>
  </th:block>

  <h2 th:text="'Reading List of ' + ${username}">Reading List</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <table id="example" class="table table-bordered" style="width: 100%">
          <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th th:if="${username} == ${sessionUsername}">Edit</th>
            <!--
            <th>Start date</th>
            <th>Salary</th>
            -->
          </tr>
          </thead>
          <tbody>
          <tr th:each="book : ${books}">
            <td>img</td>
            <td><a th:href="@{/bookDetails{title}/{page}(title = ${book}, page = 1)}" th:text="${book}" style="color: black"></a></td>

            <td th:if="${username} == ${sessionUsername}">
              <form th:action="@{/readingList{username}/removeFromReadingList{title}(username=${username}, title = ${book})}" method="get">
                <button class="btn btn-danger btn-sm" type="submit">Remove</button>
              </form>
            </td>
            <!--
            <td th:text="${#dates.format(employee.startDate, 'dd.MM.yyyy')}">Start date</td>
            <td th:text="'$' + ${#numbers.formatDecimal(employee.salary, 0, 'COMMA', 2, 'POINT')}">Salary</td>
            -->
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>



  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <script>


  </script>

</body>
</html>