<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search Book</title>
  <link th:href="@{/styles/signin.css}" rel="stylesheet">
  <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">

  <style>
    .form{
      display: flex;
      flex-direction: row;
      margin: 1em 0 1em 0;
      gap: 1em;
      /*justify-content: space-between;*/
    }

    form{
      width:35%;
    }

    form > input, select {
      width: 90%;
      height: 2em;
      margin: 0;
    }

    label{
      width: 3em;
      text-align: justify;
    }

    .checkboxes{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }


    .upper{
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .upper > *{
      padding: 3rem;
      margin: 2em;
    }

    .rating{
      color: #deb217;
      font-size: 2em;
    }

    nav{
      display: flex;
      flex-direction: row;
      padding-bottom: 3em;
      margin-bottom: 2em;
    }

    .lower{
      margin-top: 0;
    }

  </style>
</head>
<body class="text-center flex-column" >

  <th:block th:if="${userClass == 'admin'}">
    <div th:replace="~{fragments/headerAdmin :: header}">...</div>
  </th:block>
  <th:block th:if="${userClass == 'customer'}">
    <div th:replace="~{fragments/headerUser :: header}">...</div>
  </th:block>


  <div class="upper justify-content-center w-75 m-auto">
    <form  th:action="@{/retreiveBook}" method="post">

      <h1 class="h3 mb-3 fw-normal">Retreive Books</h1>
      <div class="form-floating">
        <input type="number" th:min="1" name="howmany" id="inputHowMany" class="form-control" placeholder="10" required="required" />
        <label for="inputHowMany" >How many:</label>
      </div>
      <div class="form-floating">
        <select name="parameter" class="form-select" id="inputParameter" style="margin-bottom: 10px" required="required">
          <option value="Title">Title</option>
          <option value="rating">Rating</option>
          <option value="authors">Author</option>
          <option value="categories">Category</option>
       <!--   <option value="publisher">Publisher</option>
          <option value="publishedDate">Publish Date</option>  -->
        </select>
        <label for="inputParameter">Search by:</label>
      </div>

      <div class="form-floating">

          <div class=" form-check-inline">
            <input type="radio" name="sort" value="-1">
            <label>Desc</label>

          </div>
        <div class="form-check-inline">
          <input type="radio" name="sort"  value="1" checked="checked">
          <label> Asc</label>
        </div>
        <!--<label>Sort:</label>-->
      </div>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Retreive</button>
    </form>

      <form  th:action="@{/searchBook}" method="post">

        <h1 class="h3 mb-3 fw-normal">Search Books</h1>

        <div class="form-floating">

          <select name="searchType" class="form-control" id="inputSearchType" style="margin-bottom: 10px">
            <option value="Title">Title</option>
            <option value="categories">Category</option>
          </select>
          <label for="inputSearchType">Search by:</label>
        </div>
        <div class="form-floating">
          <input type="text" name="value" id="inputValue" class="form-control" placeholder="Title or Category" />
          <label for="inputValue" >Title or Category:</label>
        </div>

        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
    </div>




  <div class="lower w-60 h-100 p-5">


    <div class="row" th:if="${retreive == 'true'}">


      <div class="col-sm-4 col-md-3"th:each="book : ${retreivedBooks}">
        <div class="img-thumbnail border-0 " >
          <a th:href="@{/bookDetails{title}/{page}(title = ${book.title}, page = 1)}">
            <img style="width: 50%; height: 50%; "  alt="100%x200%" th:src="@{/images/book-sample.png}" >
          </a>
          <div class="caption justify-content-center">
            <h5 th:text="${book.title}"></h5>
            <h6 th:text="${book.authors}"></h6>
            <h7 th:text="${book.categories}"></h7>
            <div class="rate">

              <th:block th:each="i: ${#numbers.sequence(0, book.score - 1)}">
                <span class="rating">★</span>

              </th:block>

            </div>
  <!--          <p><a class="btn btn-primary btn-block" role="button"  th:href="@{/bookDetails{title}(title = ${book.title})}">Details</a></p>  -->

          </div>
        </div>
      </div>

  </div>

    <div  th:if="${search == 'true'}">

      <nav aria-label="Page navigation" class="m-auto">
        <ul class="pagination m-auto">
          <li class="page-item" th:unless="${pageNumber.intValue() <= 1}">
            <form th:action="@{'/searchBook?pageNumber=' + ${pageNumber - 1}}" method="post">
              <button type="submit" class="btn btn-sm btn-outline-primary">Previous</button>
            </form>
          </li>

          <li class="page-item disabled">
            <a class="page-link" th:href="@{'/searchBook?pageNumber=' + ${pageNumber}}"
               th:text="${pageNumber}"></a>
          </li>

          <li class="page-item" th:unless="${size.intValue() < 52}">
            <form th:action="@{'/searchBook?pageNumber=' + ${pageNumber + 1}}" method="post">
              <button type="submit" class="btn btn-sm btn-outline-primary">Next</button>
            </form>
          </li>

        </ul>
      </nav>

      <div th:if="${searchError} == 'true'">
        <h3> Book not found </h3>
      </div>

      <div class="row" th:if="${list} == 'notEmpty'">

        <div class="col-sm-4 col-md-3" th:each="book : ${searchedBooks}">
          <div class="thumbnail border-0" >
            <a th:href="@{/bookDetails{title}/{page}(title = ${book.title}, page = 1)}">
              <img  style="width: 50%; height: 50%; " alt="100%x200%" th:src="@{/images/book-sample.png}" >
            </a>
            <div class="caption center">
              <h4 th:text="${book.title}"></h4>
              <h6 th:text="${book.authors}"></h6>
              <h6 th:text="${book.categories}"></h6>
              <!--<h5 th:text="${book.score.intValue()}">...</h5>-->
              <div class="rate">

                <th:block th:each="i: ${#numbers.sequence(0, book.score - 1)}">
                  <span class="rating">★</span>

                </th:block>

              </div>

            </div>
          </div>
        </div>

        <nav aria-label="Page navigation" class="paging mt-3 text-center">
          <ul class="pagination m-auto">
            <li class="page-item" th:unless="${pageNumber.intValue() <= 1}">
              <form th:action="@{'/searchBook?pageNumber=' + ${pageNumber - 1}}" method="post">
                <button type="submit" class="btn btn-sm btn-outline-primary">Previous</button>
              </form>
            </li>

            <li class="page-item disabled">
              <a class="page-link" th:href="@{'/searchBook?pageNumber=' + ${pageNumber}}"
                 th:text="${pageNumber}"></a>
            </li>

            <li class="page-item" th:unless="${size.intValue() < 52}">
              <form th:action="@{'/searchBook?pageNumber=' + ${pageNumber + 1}}" method="post">
                <button type="submit" class="btn btn-sm btn-outline-primary">Next</button>
              </form>
            </li>

          </ul>
        </nav>


      </div>



    </div>

  </div>


</body>
</html>