<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/signin.css}" rel="stylesheet">

    <style>
        #buttons{
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    </style>
</head>


<body class="flex-column">

<div th:replace="~{fragments/headerUser :: header}">...</div>


    <div id="buttons">

        <form  th:action="@{/show{num}(num=1)}" method="get">
            <button class=" btn btn-lg btn-primary mb-4 w-auto" type="submit">Show Books 1</button>
        </form>
        <form th:action="@{/show{num}(num=2)}" method="get">
            <button class=" btn btn-lg btn-primary mb-4 w-auto" type="submit">Show Books 2</button>
        </form>
        <form th:action="@{/show{num}(num=3)}" method="get">
            <button class=" btn btn-lg btn-primary mb-4 w-auto" type="submit">Show Books 3</button>
        </form>
        <form th:action="@{/show{num}(num=4)}" method="get">
            <button class=" btn btn-lg btn-primary mb-4 w-auto" type="submit">Show Users 1</button>
        </form>
        <form th:action="@{/show{num}(num=5)}" method="get">
            <button class=" btn btn-lg btn-primary mb-4 w-auto" type="submit">Show Users 2</button>
        </form>


    </div>


    <div class="row mt-5">
        <div class="col-lg-5 m-auto">
            <table id="example" class="table table-bordered" >
                <thead>
                <tr>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="result : ${results}">

                    <td th:if="${type == 'books'}"><a th:href="@{'/bookDetails?title=' + ${result}}" th:text="${result}" style="color: black"></a></td>
                    <td th:if="${type == 'users'}"><a th:href="@{/profile{username}(username=${result})}" th:text="${result}" style="color: black"></a></td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>




</body>
</html>
