<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reported Reviews</title>
  <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="text-center flex-column">


<div th:replace="~{fragments/headerAdmin :: header}">...</div>

<h1>Reported Reviews</h1>

<span class="mb-5" th:if="${info == 'approve'}" th:text="${infoMessage}" style="color: green">...</span>
<span class="mb-5" th:if="${info == 'delete'}" th:text="${infoMessage}" style="color: green">...</span>
<span class="mb-5" th:if="${info == 'error'}" th:text="${infoMessage}" style="color: red">...</span>

<div class="container">

  <div class="row">
    <div class="col-lg-10 mt-5 mb-5">
      <table id="example" class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th>Book</th>
          <th>Username</th>
          <th>Review</th>
          <th>N° Report</th>
          <th>Action1</th>
          <th>Action2</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${reportedReviews}">
          <td th:text="${review.bookTitle}">Authors</td>
          <td th:text="${review.username}">Tile</td>
          <td th:text="${review.description}"></td>
          <td th:text="${review.numberOfReports}"></td>
          <td>
            <form th:action="@{/viewReportedReviews/approve{username}/{title}(username= ${review.username}, title= ${review.bookTitle})}">
              <button type="submit" class="btn btn-sm btn-success">Approve</button>
            </form>
          </td>
          <td>
            <form th:action="@{/viewReportedReviews/delete{username}/{title}(username= ${review.username}, title= ${review.bookTitle})}">
              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
          </td>

        </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation" class="paging mb-3" >
        <ul class="pagination">
          <li class="page-item" th:classappend="${pageNumber.intValue() <= 1 ? 'disabled' : ''}">
            <a class="page-link" th:href="@{'/viewReportedReviews?pageNumber=' + ${pageNumber - 1}}">Previous</a>
          </li>

          <li class="page-item disabled">
            <a class="page-link" th:href="@{'/viewReportedReviews?pageNumber=' + ${pageNumber}}"
               th:text="${pageNumber}"></a>
          </li>

          <li class="page-item">
            <a class="page-link" th:href="@{'/viewReportedReviews?pageNumber=' + ${pageNumber + 1}}">Next</a>
          </li>
          <li>
            <form style="margin-left: 1em" th:action="@{/viewReportedReviews}">
              <label for="page1">Go to page</label>
              <input class="input-group-sm" type="number" name="pageNumber" id="page1"/>
              <button type="submit" class="btn btn-sm btn-primary">Go</button>
            </form>
          </li>
        </ul>


      </nav>
    </div>
  </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>